<footer class="text-center text-lg-start bg-light text-muted">

	<!-- Section: Social style/media -->
	<section class="d-flex justify-content-center justify-content-lg-around p-4 border-bottom"><!-- Left -->
		<div class="me-5 d-none d-lg-block">
			<span>Retrouvez nous sur nos résaux sociaux :</span>
		</div><!-- Left --><!-- Right -->
		<div>
			<a href="http://www.facebook.fr" class="me-4 text-reset">
			<img class="LogoResaux_Samm" src=" {{asset("img/logo-facebook.png")}}" alt="logo fb">
			</a><a href="http://www.twitter.fr" class="me-4 text-reset">
			<img class="LogoResaux_Samm" src=" {{asset("img/logo-twitter.png")}}" alt="logo twiter"></a>
			<a href="http://www.instagram.fr" class="me-4 text-reset">
			<img class="LogoResaux_Samm" src="{{asset("img/logo-instagram.png")}}" alt="logo instagram"></a>
			<a href="http://www.pinterest.fr" class="me-4 text-reset">
			<img class="LogoResaux_Samm" src="{{asset("img/logo-pinterest.png")}}" alt="logo pinterest"></a>
		</div><!-- Right -->
	</section><!-- Section: Social style/media -->
	
	<!-- Section: Links  -->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">

				<!-- Grid column -->
				<div
					class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Plan du site
					</h6>
					<p>
						<a href="{{path("annonce_index")}}" class="text-reset">Accueil</a>
					</p>
					<p>
						<a href="{{path("annonce_index")}}" class="text-reset">Annonces</a>
					</p>
					<p>
						<a href="{{path("conseil_index")}}" class="text-reset">Conseils</a>
					</p>
					{# <p>					
						<a href="{{path("apropos")}}" class="text-reset">À propos</a>												
					</p>
					<p>
						<a href="{{path("contact")}}" class="text-reset">Contact</a>
					</p> #}
					
				</div>
				<!-- Grid column -->

				<div
					class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 >
						
					</h6>
					
					<p>
						<a href="{{path("cgu")}}" class="text-reset">CGU</a>
					</p>
					
					<p>					
						<a href="{{path("apropos")}}" class="text-reset">À propos</a>												
					</p>
					<p>
						<a href="{{path("contact")}}" class="text-reset">Contact</a>
					</p>
					
				</div>
				<!-- Grid column -->


				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="text-uppercase fw-bold mb-4">
						Contact
					</h6>
					<p>
						<i class="fas fa-home me-3"></i>
						15 avenue emile zola, 74100 Annemasse</p>
					<p>
						<i class="fas fa-envelope me-3"></i>
						info@example.com
					</p>
					<p>
						<i class="fas fa-phone me-3"></i>
						01 23 45 67 88
					</p>
				</div> <!-- Grid column -->
			</div><!-- Grid row -->
		</div>
	</section><!-- Section: Links  --><!-- Copyright -->
	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">© 2021 Copyright:
		<a class="text-reset fw-bold" href="">SAMM Developpement</a>
	</div><!-- Copyright -->
</footer>