{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>{{ annonce.titre }}</h1>

    <main class="d-flex flex-column justify-content-center">
        {% if annonce.photo %}
            <div class="photo-container d-flex justify-content-center">
                <img src="{{ annonce.photo }}" alt="{{ annonce.titre }}" class="rounded" />
            </div>     
                
        {% endif %}
        {#  on filtre annonce.description avec un raw pour nettoyer les balises HTML #}
        <div class="text-center mx-3 mx-md-5">{{ annonce.description|raw }}</div>

        <div class="d-flex justify-content-around my-3">
            <p>Date de publication : {{ annonce.datePublication ? annonce.datePublication|date('d/m/Y ') : '' }}</p>
            <p>Publié par : {{ annonce.user }}</p>
            <p>Situé à : {{ annonce.ville }}</p>
            <p>Nombre de vue : {{ annonce.nombreVue }}</p>
        </div>
    
            
        <section class='d-flex justify-content-around '>
            <a class="btn btn-outline-info " href="javascript:history.back()">Retour</a>
            {% if username == annonce.user or is_granted('ROLE_ADMIN') %}
                <a class="btn btn-outline-warning" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
        
                <form method="post" action="{{ path('annonce_delete', {'id': annonce.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cette annonce ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
                    <button class="btn btn-outline-danger">Supprimer</button>
                </form>
            {% endif %}
            {% if user != null and user != idAnnonceUser %} 
                <a class="btn btn-outline-success" 
                href="{{ path('message_new', {'idAnnonce': annonce.id, 'idAnnonceUser': idAnnonceUser, 'idMessageSender': idUserConnected }) }}">Envoyer message</a>
        {% endif %}
        
        </section>
    </main>

    
{% endblock %}
