{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}

{% block body %}
    <h1>Liste des commentaires</h1>
    <div class="table-responsive">
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Commentaire</th>
                    <th>Publié le</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for avi in avis %}
                <tr>
                    <td>{{ avi.text | slice(0,30)}}...</td>
                    {# <td>{{ avi.conseils }}</td> #}
                    <td>{{ avi.datePublication ? avi.datePublication|date('d/m/Y') : '' }}</td>
                    <td>
                        <a class="btn btn-outline-success" href="{{ path('avis_show', {'id': avi.id}) }}">Détail</a>
                        <a class="btn btn-outline-warning" href="{{ path('avis_edit', {'id': avi.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun commentaire</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
